<%- include('../port/layout-start', {title: title}) %>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">
                <%= error.title %>
            </h1>
            <h2 class="display-4">
                <%= error.descr %>
            </h2>
        </div>
    </div>

    <%- include('../port/layout-end') %>